.EditProfile {
  background: linear-gradient(to right, #5c59c3, #9ad3cc);
  height: 100%;
  padding: 4rem;
}

.EditProfile .EditprofilePcontainer {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  width: 60vw;
  margin: 10px auto 0;
}

.EditProfile #text2 {
  font-size: 3rem;
  text-align: center;
}

.EditProfile #browsePic2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.EditProfile #displayPic2 {
  cursor: pointer;
  max-width: 50%;
  margin-bottom: 10px;
  border: 2px solid #3498db;
  border-radius: 50%;
  overflow: hidden;
}

.EditProfile #displayPic2 img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.EditProfile .about2 {
  font-size: 20px;
}

.EditProfile .about2 label {
  display: block;
  margin-bottom: 20px;
}

.EditProfile .about2 input,
.EditProfile .about2 select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 20px;
}

.EditProfile #err {
  color: red;
  font-weight: bold;
}

.EditProfile .about2 p {
  margin: 10px 0;
}

.EditProfile #Tel2 {
  font-weight: bold;
}

.EditProfile .about2 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EditProfile .Exp2 h1 {
  display: block;
  margin-bottom: 16px;
  color: #333;
  font-size: 1rem;
}

.EditProfile .Exp2Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.EditProfile .Exp2Link input{
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-top: 10px;
}

.EditProfile #Expinput {
  display: flex;
  width: calc(100% - 20px);
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 20px;
  resize: none;
  overflow: auto;
}

.EditProfile button {
  background-color: #5c59c3;
  color: white;
  padding: 15px;
  border: none;
  font-size: 25px;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px auto;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.EditProfile button:hover {
  background-color: #807cf9;
}

.EditProfile button:active {
  scale: 0.9;
}

.EditProfile #Exp2,
#Exp3,
#Exp4 {
  margin-top: 40px;
  color: #333;
  font-size: 1.3rem;
  margin-right: 10px;
}

.EditProfile .form-button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.EditProfile #btn_pdf{
  border: 0;
  border-radius: 20px;
}
.EditProfile #btn_pdf:hover{
  opacity: 0.9;
}
.EditProfile #btn_pdf:active{
  scale: 0.9;
}
.EditProfile #btn_back{
  cursor: pointer;
  font-size: 2rem;
}
.EditProfile #btn_back:hover{
  opacity: 0.5;
}
.EditProfile #btn_back:active{
  color: #6634db;
}

/* CSS สำหรับไอแพด */
@media only screen and (max-width: 950px) {
  .EditProfile {
    padding: 2rem;
  }
  .EditProfile .EditprofilePcontainer{
    width: 90%;
  }

  .EditProfile #displayPic2 {
    max-width: 80%;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
  }

  .EditProfile .about2 input,
  .EditProfile .about2 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 20px;
  }

  .EditProfile #Email,
  .EditProfile #Tel,
  .EditProfile #Birthday,
  .EditProfile #Name,
  .EditProfile .Exp,
  .EditProfile #Exp2,
  .EditProfile #Exp3,
  .PEditProfile #Exp4 {
    text-align: center;
    margin: 10px 0;
    font-size: 1.3rem;
  }
  .text_exp p{
    font-size: 20px;
  }
  .EditProfile #text2 {
    font-size: 2rem;
  }
  
}

/* โทสับ */
@media only screen and (max-width: 560px) {
  .EditProfile {
    padding: 1rem;
  }
  .EditProfile .EditprofilePcontainer{
    width: 90%;
  }

  .EditProfile #displayPic2 {
    max-width: 80%;
    margin-bottom: 10px;
  }

  .EditProfile .about2 input,
  .EditProfile .about2 select {
    width: 100%;
  }
  .text_exp p{
    font-size: 20px;
  }
  .EditProfile #btn_back{
    display: none;
  }
}
