.Home .Firstcontainer {
  background: linear-gradient(to right, #5c59c3, #9ad3cc);
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home #logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pullDown 1s ease-out;
  margin-bottom: 80px;
}

.Home #text1 {
  color: white;
  font-size: 45px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
  position: relative;
  animation: pullDown 1s ease-out;
  justify-content: center;
  display: flex;
}
.Home #logo_webb{
  max-width: 100%;
}
@keyframes pullDown {
  from {
    transform: translateY(-25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.Home .Secondcontainer {
  background-color: #ffffff;
  height: auto; 
  padding: 4rem; 
}

.Home #text2 {
  font-weight: bolder;
  color: #5C59C3;
  font-size: 30px;

}

.Home .square {
  cursor: pointer;
  width: 20%;
  background-color: #57576d; 
  border-radius: 15px; 
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 50px;
  color: white; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease-out, transform 0.3s ease-out; /* เพิ่มเอฟเฟกต์ transition */
}

.Home .square:hover {
  background-color: #8a8ab4; 
  transform: scale(1.05); 
}

.Home .squarecontainer {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.Home .thridcontainer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.Home #contact {
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px; 
}

.Home .text_job{
  font-size: 24px;
}



/*  CSS สำหรับไอแพด */ 
@media only screen and (max-width: 950px) {
  .Firstcontainer {
    height: auto;
    padding: 20px;
  }

  #text1 {
    font-size: 24px;
  }

  .Secondcontainer {
    padding: 20px;
  }

  #text2 {
    font-size: 20px;
    text-align: center;
  }

  .squarecontainer {
    justify-content: flex-start;
  }

  .square {
    margin: 0; 
  }

  .thridcontainer {
    padding: 20px;
  }

  #contact {
    font-size: 24px;
    padding-bottom: 5px;
  }

  .thridcontainer p {
    margin: 5px 0;
  }
  .Home .square {
    width: 40%;
  }
}

 /* CSS สำหรับมือถือ  */
 @media only screen and (max-width: 560px) {

  .Firstcontainer {
     padding: 20px;
     height: auto; 
   }
 
   .Home #text1 {
     font-size: 24px;
   }
 
   .Secondcontainer {
     padding: 20px;
   }
 
   #text2 {
     font-size: 20px;
     text-align: center;
   }
 
   .squarecontainer {
     justify-content: flex-start; 
   }
 
   .square {
     margin: 0; 
   }
 
   .thridcontainer {
     padding: 20px;
   }
 
   #contact {
     font-size: 24px;
     padding-bottom: 5px;
   }
   .thridcontainer p {
     margin: 5px 0;
   }
   .Home .square {
     width: 100%;
   }
   .Home #logo_webb{
    max-width: 80%;
  }
 }