.login {
  background: linear-gradient(to right, #5c59c3, #9ad3cc);
  padding: 4rem 0;
  height: 100%;
  min-height: 100vh;
}

#Login{
  width: 60%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 30px;
}

#Login input[type="submit"] {
  background-color: #5c59c3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: auto;
  font-size: 25px;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;

}

#Login input[type="submit"]:hover {
  background-color: #807cf9;
  text-align: center;
}

#Login input[type="submit"]:active {
  scale: 0.9;
}

#Login input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  font-size: 15px;
}

#Login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 15px;
}

#Login input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#Login a:hover {
  color: red;
}


/* CSS สำหรับไอแพด */
@media only screen and (max-width: 950px) {
  #Login {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    font-size: 30px;
  }

  .login {
    padding: 2rem 0;
  }

  #Login input[type="submit"] {
    margin-left: 30px;
    font-size: 20px;
  }

  #Login input[type="text"],
  #Login input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
  }

  #Login input[type="checkbox"] {
    margin-right: 5px;
  }

  #Login a:hover {
    color: red;
  }
}

/* CSS สำหรับมือถือ */
@media only screen and (max-width: 560px) {
  #Login {
    width: 85%;
    margin: 50px auto;
    padding: 10px;
    font-size: 24px;
  }


  #Login input[type="submit"] {
    font-size: 20px;
  }

  #Login input[type="text"],
  #Login input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
  }

  #Login input[type="checkbox"] {
    margin-right: 5px;
  }

  #Login a:hover {
    color: red;
  }
}