nav{
    position: sticky;
    top: 0;
    left: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--nav);
    box-shadow: var(--shadow);
    z-index: 99;
}

nav .menu{
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

nav .menu .list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:end;
    
}

nav .list a{
    color:  var(--primary-color);
    text-decoration: none;
    font-size: var(--font-content);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;

}

nav .menu #btn-menu {
    display: none;
    cursor: pointer;
    color: var(--text-colors-second);
    font-size:var(--font-topic);
    text-decoration: none;
    padding: 1rem;
}

nav #box_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    border: 2px solid #ccc;
    width: 30vw;
}
nav #search_input{
    border: 0;
    width: 90%;
}
nav #logo_web{
    max-width: 80%;
    max-height: 100% !important;
    
}
nav #logo_serach{
    max-width: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;

}
nav #logo_serach:active{
    scale: 0.8;
}

nav #profile_img{
    max-height: 100%;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
}
nav .list a:hover{
    opacity: 0.8;
    padding: 0.5rem;
    color: var(--text-color);
    background-color: var(--primary-color);    
} 

nav .list a:active{
    scale: 0.9;
} 
nav #profile_img:active{
    scale: 0.9;
    
}
nav .list #profile_img:hover{
    filter: drop-shadow(0 0 1rem var(--primary-color));
    
    
}
nav .menu a:hover{
    filter: drop-shadow(0 0 2rem var(--primary-color));
}
body.show{
    transform: translateX( var(--menu_show));
}

/* CSS สำหรับ ipad */

@media only screen and (max-width: 950px) {
    :root{
        --font-topic:3rem;
        --font-content:1.5rem;
        --width-item:80vw;
    }
    nav{
        justify-content: start;
    }
    nav .menu #btn-menu{
        color: black;
        display: flex;
        
    } 
    nav #box_logo{
        text-align: center;
    }
    nav #logo_web{
        max-width: 50% !important;
    }
    nav .menu{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    nav #profile_img{
        max-width: 80%;
        border: 0;
        padding: 1rem;
    }
    nav #box_search{
        width: 40vw;
    }
    .menu .list{
        position: fixed;
        top: 0;
        left: 0;
        width: var(--menu_show) !important;
        height: 100% !important;
        background-color: var(--primary-color);
        transform: translateX(-100%);
        display: flex;
        flex-direction: column !important; 
        text-align: start !important;
        justify-content: start !important;
    }
    .menu .list a{
        color:  var(--text-color);
        text-decoration: none;
        font-size: var(--font-topic);
        padding: 0.5rem;
        border-radius: 1rem;
        text-align: center;
        width: 100%;
    }

}

  /* CSS สำหรับมือถือ */
@media only screen and (max-width: 560px) {
    :root{
        --font-topic:2.5rem;
        --font-content:1rem;
        --width-item:90vw;
    }
    nav #box_logo{
        text-align: center;
    }
    nav #box_search{
        width: 100%;
    }
    nav #logo_web{
        max-width: 80% !important;
    }
    nav .menu #btn-menu{
        display: flex;
    }
    .menu .list{
        position: fixed;
        top: var(--nav-height);
        left: 0;
        width: 100% !important;
        height: 100% !important;
        background-color: var(--primary-color);
        transform: translateX(-100%);
    }

    .menu .list a{
        font-size: var(--font-topic);
    }

    body.show .list{
        transform: translateX(0);
    }

    body.show{
        transform: translateX(0);
    }
    nav #profile_img{
        max-width: 50%;
    }
}