@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root{
    --menu_show:35vw;
    --nav-height: 10vh;
    --font-topic:5rem;
    --font-content:2rem;
    --width-item:60vw;
    --primary-color:rgb(65, 44, 182);;
    --text-color:white;
    --text-color-second:rgb(0, 0, 0);
    --background:#0d0d0e;
    --background-second:rgb(255,255,255);
    --background-content:#171718;
    --nav: rgb(255, 255, 255);
    --shadow:none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
    word-wrap:break-word;
}

body{
    transition: all 0.2s ease;
    word-wrap:break-word;
    padding-right: 0 !important;
}

/* html,body,#root{
    height: 100%;
  } */

input{
    outline: 0;
    border: 2px solid #ccc;
}

input[type="file"]::file-selector-button {
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    background-color: rgb(148, 174, 245);
    color: white;
  }
